# This template is used by GitHub Actions to inject secrets from 1Password
# OP_VAULT is set dynamically by the workflow based on the branch (dev/prod)
DATABASE_URL="op://${OP_VAULT}/Database/connection_string"
SESSION_SECRET="op://${OP_VAULT}/App/session_secret"
HOST="op://${OP_VAULT}/CapRover/url"